.weeks {
  border: 1px solid rgb(128, 128, 128, 0.5);
  border-radius: 10px;
  text-align: center;
  margin-right: 6px;
  margin-left: 6px;
  margin-top: 25px;
  margin-bottom: 12px;
}
.forecastTempMin {
  color: gray;
}
.forecastTemps {
  font-size: 15px;
}
