.InputCity {
  text-align: right;
  padding-bottom: 25px;
  padding-top: 10px;
}
.entercity {
  border-right: none;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.search {
  background: none;
  border-left: none;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  margin-left: -5px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.mylocation {
  background: none;
  border: 1px solid gray;
  border-radius: 8px;
}
.mylocation:hover {
  cursor: pointer;
  background: whitesmoke;
}
